<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>  
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>
  <h1>WhatsApp Contact Center Dashboard</h1>
  <h2>Add A new Agent</h2>
  <form name="agentForm" action="/addAgent" method="POST">
    <input type="text" name="agentNum" id="agentNum" placeholder="Agent Number">
    <input type="text" name="agentName" id="agentName" placeholder="Agent Name">
    <input type="submit" value="Add">
  </form>
  <h2>Registered Agents</h2>
  <div style="overflow-y: auto;">
    <table id="agentTable">
      <thead>
        <tr>        
          <th>Agent Name</th>
          <th>Agent Number</th>
          <th>Availability</th>                
      </tr>
      </thead>
      <tbody>

      </tbody>
      
    </table>
</div>
</body>
</html>
